.about{
    display: flex;
    flex-direction: row;

    .details-by-the-left{
        display: flex;
        flex-direction: column;
        //margin: 5px;
       // background-color: black;
        //width: 35%;
        //height: 90vh;
        //border: 2px solid black;
        margin-top:-30px;
        margin-left: 80px;
        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        animation-delay: 4s;
        animation-fill-mode: backwards;
        position: relative;

        @media all and(max-width:900px){
            margin-top:-180px;
            margin-left: 10px;
           // margin: auto;
          }
      

        .lukman{
            display: flex;
            flex-direction: column;
            margin: 5px;
            padding: 20px;
            width: 80%;
            height: 80vh;
            border-radius: 45%;
            justify-content: center;
            align-items: center;
            //position: relative;
        }

        .name{
            display: flex;
            justify-content: center;
            font-size: 15px;
            margin-bottom: 15px;
            align-items: center;
           //position:absolute;
             //left: 70px;
            // top: 40px;
        }

        .social-links{
           display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: -50px;
            position: absolute;
            left: 5%;
            top: 85%;

            @media all and(max-width:900px){
                margin-top:-340px;
                left: 15%;
               // margin-left: 10px;
               // margin: auto;
              }

        &-LinkedIn{
            display: flex;
            flex-direction: column;
            justify-content: center;
              align-items: center;
        }

        &-Github{
            display: flex;
            flex-direction: column;
            justify-content: center;
              align-items: center;
            
        }
            .GithubLogo{
                display: flex;
                height: 30px;
                width: 30px;
                padding: 20px 80px;
              //  padding: 25px;
              
              cursor: pointer;

              }
            
              .LinkedInLogo{
                height: 30px;
                width: 30px;
                padding: 20px 80px;
                justify-content: center;
                cursor: pointer;
              //  padding: 25px;
              }
            

           .social-nav-link{
               text-decoration: none;
               display: flex;
               justify-content: center;
               margin-top: -15px;
               
           }
        }
    }

    .profile{
        display: flex;
        flex-direction: column; 
      //  background-color: red;
        width: 65%;
        height: 100vh;
       // border:2px solid blue;
        margin:5px;
        animation-name: moveInBottom;
        animation-duration: 3s;
        animation-timing-function: ease-out;

      .about-me{
        display: flex;
        flex-direction: column; 
        
        h2{
            font-size: 25px;
        }

        .sub-profile{
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding:2px;
            font-size: 20px;
       

            p{
                line-height: 30px;
                    
            }

            @media all and (max-width:900px){
                p{
                  font-size: 18px;
                }
              }

        }
      }

      .Education{
          display: flex;
          flex-direction: column;

          .school{
              display: flex;
              flex-direction: row;

           .school-details{
               padding: 10px;
               margin-bottom: 30px;

               .udacity-title{
                   margin-top: -8px;
               }

               .program-title{
                margin-top: 30px;
               }
               .year{
                   margin-top: 30px;
               }
           }
            
          }

          .udacity{
            background-position: center;
            background-size: cover;
            width: 120px;
            height:120px;
            margin-bottom: -110px;
          }

      .funaab{
          background-position: center;
          background-size: cover;
          width: 120px;
          height: 90px;
          margin-top: 30px;
      }
      }
    }
}

@keyframes moveInBottom{
    0%{
       opacity: 0;
       transform: translateY(100px);
    }

    80%{
        transform: translateY(-20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInLeft{
    0%{
       opacity: 0;
       transform: translateX(-100px);
    }

    80%{
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
