.homepage{
  margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //background-image: 'url('bckgrdImg')' ;
    //background-color: grey;

    .homepage > * {
      padding: 20px;
    }
  .body{
      flex:1;
      display: flex;
      flex-direction: column;
      align-items: center;
      backface-visibility: hidden;


    .name{
        font-size: 40px;
        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;
       //font-style: oblique;

        span{
            color:grey;
        }
    }

    @media all and (max-width:768px){
        .name{
          font-size: 35px;
          flex-wrap: wrap;
        }
      }
    

    @media all and (max-width:600px){
        .name{
          font-size: 30px;
          flex-wrap: wrap;
        }
      }
    

    .job-title{
        font-size: 60px;
        color: black;
        animation-name: moveInRight;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        margin-bottom: 50px;
        font-style: italic;
        color: white;
    }

    @media all and (max-width:768px){
        .job-title{
          font-size: 25px;
          flex-wrap: wrap;
        }
      }

    @media all and (max-width:600px){
        .job-title{
          font-size: 20px;
          flex-wrap: wrap;
        }
      }

    .rocket{
        width: 350px;
        height: 300px;
    }
  }
    

    .footer{
      display: flex;

      .social-nav-link{
          text-decoration: none;
          margin: 10px;
          font-size: large;
      }
    }

   
}

@keyframes moveInLeft{
    0%{
       opacity: 0;
       transform: translateX(-100px);
    }

    80%{
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInRight{
    0%{
       opacity: 0;
       transform: translateX(100px);
    }

    80%{
        transform: translateX(-20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

